working SKNatural Product Catalog Web Scraper with Structured Data Extraction.json
{
  "name": "working SKNatural Product Catalog Web Scraper with Structured Data Extraction",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "f1fe8c9e-e0ff-4d6e-8d46-bd16c770b65a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -15792,
        2492
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "wooCommerceUrl",
              "value": "https://www.sknatural.com",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "consumerKey",
              "value": "ck_0b33657d23daf2977fbce0154855b2c73133ae0e",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "consumerSecret",
              "value": "cs_97c59ad8b8ac92d10893af6547fc73c44e4eeb0f",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "requestDelay",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "93102772-190c-4ad1-a515-c19ccd4c1c60",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -15568,
        2492
      ]
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "id": "a7d602f7-1483-48dd-a3f5-05c67fd8eeb2",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -15792,
        3072
      ],
      "webhookId": "99ad61e0-015e-48bf-8c39-78d91a7ac055"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=SYSTEM INSTRUCTIONS:\n\nYou are the **SK Natural Product Expert Assistant**. Your mission is to provide accurate, helpful product information with clear ordering instructions.\n\n---\n\n### CORE IDENTITY\n- Name: SK Natural Product Assistant\n- Language: English and Urdu (اردو اور انگریزی)\n- Greeting: \"السلام علیکم! I am your SK Natural product assistant. How can I help you today?\"\n\n---\n\n### CRITICAL RESPONSE FORMAT\n\n**For EVERY product query, you MUST:**\n\n1. **Search the database FIRST** using the search_product_database tool\n2. **Always include both price AND order link** in your response\n\n---\n\n### RESPONSE TEMPLATES (FOLLOW EXACTLY)\n\n**A) PRICE-ONLY Query:**"
        }
      },
      "id": "a1b0e96d-4b0c-4a3c-ae4b-4eb56ccabfa0",
      "name": "Product Assistant Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -15512,
        3072
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 800,
          "temperature": 0.3
        }
      },
      "id": "1ecc3904-726d-4ece-81cd-cd05a554119d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -15568,
        3296
      ],
      "credentials": {
        "openAiApi": {
          "id": "wApvZFExITdLFQ7P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "7366eb51-a228-4847-beb3-21a15f5a5c6a",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -15440,
        3296
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "sknatural_products"
        }
      },
      "id": "bfb9307f-e31e-46c8-9cc6-fe1569dd1047",
      "name": "Insert Product Vectors",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -14672,
        2640
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a5473f66-2fdd-466f-adb2-95990532892f",
      "name": "OpenAI Embeddings (Insert)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -14664,
        2464
      ],
      "credentials": {
        "openAiApi": {
          "id": "8Kkq7GUUHB7HpREs",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "51bc5166-aecc-4f5d-9377-2e8db94d61ef",
      "name": "OpenAI Embeddings (Retrieve)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -15232,
        3504
      ],
      "credentials": {
        "openAiApi": {
          "id": "wApvZFExITdLFQ7P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.page_content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=product_name",
                "value": "={{ $json.metadata.product_name }}"
              },
              {
                "name": "price",
                "value": "={{ $json.metadata.price }}"
              },
              {
                "name": "currency",
                "value": "={{ $json.metadata.currency }}"
              },
              {
                "name": "url",
                "value": "={{ $json.metadata.url }}"
              },
              {
                "name": "category",
                "value": "={{ $json.metadata.category }}"
              }
            ]
          }
        }
      },
      "id": "9d310076-329f-4a21-a01c-d31a2dd39470",
      "name": "Load Chunks as Documents",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -14536,
        2464
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "product_embeddings"
        },
        "options": {
          "queryName": "match_product_embeddings"
        }
      },
      "id": "0a0673e5-3da2-4303-bdfb-2e82dc2f1698",
      "name": "Store in Supabase",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -14672,
        2240
      ],
      "credentials": {
        "supabaseApi": {
          "id": "X13ik4nNHIQJfewZ",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search for product information including names, prices, descriptions, and benefits",
        "tableName": {
          "__rl": true,
          "value": "product_embeddings",
          "mode": "id"
        },
        "topK": 5,
        "options": {
          "queryName": "match_product_embeddings"
        }
      },
      "id": "abfd9cd1-5d72-4145-910c-a8d5c7b5b8b7",
      "name": "Supabase Product Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -15312,
        3296
      ],
      "credentials": {
        "supabaseApi": {
          "id": "L35OmOcD8YTQre7r",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform WooCommerce API product data into structured format for vector storage\n// Input: Array of product items from WooCommerce API\n// Output: Array of items with page_content and metadata fields\n\nconst items = $input.all();\nconst transformedItems = [];\n\n// Helper function to clean text\nfunction cleanText(text) {\n  if (!text) return '';\n  return text.replace(/\\s+/g, ' ').replace(/<[^>]*>/g, '').trim();\n}\n\n// Helper function to extract numeric price\nfunction extractPrice(priceString) {\n  if (!priceString) return null;\n  const numericPrice = parseFloat(priceString);\n  return isNaN(numericPrice) ? null : numericPrice;\n}\n\n// Process each product item from WooCommerce API\nfor (const item of items) {\n  const product = item.json;\n  \n  // Extract and clean product data from WooCommerce API structure\n  const productName = cleanText(product.name) || '';\n  const shortDescription = cleanText(product.short_description) || '';\n  const longDescription = cleanText(product.description) || '';\n  const productUrl = product.permalink || '';\n  \n  // Build page_content by combining all text fields\n  let pageContent = '';\n  if (productName) {\n    pageContent += `Product: ${productName}\\n\\n`;\n  }\n  if (shortDescription) {\n    pageContent += `${shortDescription}\\n\\n`;\n  }\n  if (longDescription) {\n    pageContent += `${longDescription}`;\n  }\n  \n  // Extract price from WooCommerce API (use sale_price if available, otherwise regular_price)\n  const priceString = product.sale_price || product.price || product.regular_price || '';\n  const price = extractPrice(priceString);\n  \n  // Extract category from WooCommerce API categories array\n  let category = '';\n  if (Array.isArray(product.categories) && product.categories.length > 0) {\n    category = product.categories[0].name || '';\n  }\n  \n  // Build metadata object\n  const metadata = {\n    product_name: productName,\n    price: price,\n    currency: 'Rs',\n    url: productUrl,\n    category: category\n  };\n  \n  // Add transformed item to results\n  transformedItems.push({\n    json: {\n      page_content: pageContent.trim(),\n      metadata: metadata\n    }\n  });\n}\n\n// Return array of transformed items\nreturn transformedItems;"
      },
      "id": "520ce3fa-71c7-4ac8-827b-aa4231d2c7e1",
      "name": "Format Product Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15120,
        2492
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "cf8d7ee2-e666-439c-a737-4717df5d81aa",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -14896,
        2492
      ],
      "webhookId": "77881b7c-13e5-4b07-8834-8cac2853c1f9"
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.wooCommerceUrl }}/wp-json/wc/v3/products",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wooCommerceApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "100"
            },
            {
              "name": "consumer_key",
              "value": "={{ $('Workflow Configuration').first().json.consumerKey }}"
            },
            {
              "name": "consumer_secret",
              "value": "={{ $('Workflow Configuration').first().json.consumerSecret }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "69910dc0-b407-44a8-a3a6-961d13345c6c",
      "name": "Fetch Page of Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -15344,
        2492
      ],
      "credentials": {
        "wooCommerceApi": {
          "id": "zx23sNcyQlaPrEHP",
          "name": "WooCommerce account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings (Insert)": {
      "ai_embedding": [
        [
          {
            "node": "Insert Product Vectors",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Store in Supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Product Assistant Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Product Assistant Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Product Assistant Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Load Chunks as Documents": {
      "ai_document": [
        [
          {
            "node": "Insert Product Vectors",
            "type": "ai_document",
            "index": 0
          },
          {
            "node": "Store in Supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings (Retrieve)": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Product Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Product Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Product Assistant Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Product Text": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Insert Product Vectors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Page of Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page of Products": {
      "main": [
        [
          {
            "node": "Format Product Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6bd2003f-3c6c-4315-9099-88d718963da2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce1bd03746802338c38a8bfc002b7244df9a80915e8b3fb4ce5690ae6ecbcc32"
  },
  "id": "U5psrJGu0W2nBGkX",
  "tags": []
}